<th:block sec:authorize="!isAuthenticated()">
	<div class="copyrights p-0 m-0 justify-content-center" style="background-color:#432382">
		<p class="m-0 pl-5 ml-3"><small>GET CONTACT WITH US ON SOCIAL NETWORK</small></p>
	</div>
	<footer>
		<div class="copyrights pl-5">
			<div class="container-fluid">
				<div class="footer-distributed row justify-content-center d-flex">
					<div class="col-3 d-flex">
						<p class="lead">
							Company name
						</p>
					</div>
					<div class="col-3 d-flex">
						<p class="lead pl-2">
							Useful Links
						</p>
					</div>
					<div class="col-3 d-flex">
						<p class="lead pl-3">
							Other Websites
						</p>
					</div>
					<div class="col-3 d-flex">
						<p class="lead pl-5">
							Contact
						</p>
					</div>
					<div class="col-3 d-flex">
						<p class="footer-links">
							DIGI DIONOS
						</p>
					</div>
					<div class="col-3 d-flex">
						<p class="footer-links pl-2">
							DIGI DIONOS
						</p>
					</div>
					<div class="col-3 d-flex">
						<p class="footer-links pl-3">
							DIGI DIONOS
						</p>
					</div>
					<div class="col-3 d-flex">
						<p class="footer-links pl-5">
							DIGI DIONOS
						</p>
					</div>

				</div>

			</div><!-- end container -->
		</div><!-- end copyrights -->
	</footer>

	<a href="#" id="scroll-to-top" class="dmtop global-radius"><i class="fa fa-angle-up"></i></a>

	<script th:src="@{/deluxe-interior/js/all.js}"></script>
	<script th:src="@{/deluxe-interior/js/jquery.easing.1.3.js}"></script>
	<script th:src="@{/deluxe-interior/js/parallaxie.js}"></script>
	<script th:src="@{/deluxe-interior/js/headline.js}"></script>
	<script th:src="@{/deluxe-interior/js/owl.carousel.js}"></script>
	<script th:src="@{/deluxe-interior/js/jquery.nicescroll.min.js}"></script>
	<script th:src="@{/deluxe-interior/js/jqBootstrapValidation.js}"></script>
	<script th:src="@{/deluxe-interior/js/contact_me.js}"></script>
	<script th:src="@{/deluxe-interior/js/custom.js}"></script>
	<script>
		$(document).ready(function () {
			$(".slider-screen").mouseenter(function (event) {
				$(".slider-content").fadeIn("fast", function (event) {
					$(".slider-content").mouseleave(function (event) {
						$(".slider-content").fadeOut(1000)
						event.stopPropagation()
					})
				})
				event.stopPropagation()
			})
		})
	</script>
	</body>

	</html>
</th:block>


<th:block sec:authorize="isAuthenticated()">

		<script th:src="@{/deluxe-interior/js/all.js}"></script>
		<script th:src="@{/deluxe-interior/js/jquery.easing.1.3.js}"></script>
		<script th:src="@{/deluxe-interior/js/parallaxie.js}"></script>
		<script th:src="@{/deluxe-interior/js/headline.js}"></script>
		<script th:src="@{/deluxe-interior/js/owl.carousel.js}"></script>
		<script th:src="@{/deluxe-interior/js/jquery.nicescroll.min.js}"></script>
		<script th:src="@{/deluxe-interior/js/jqBootstrapValidation.js}"></script>
		<script th:src="@{/deluxe-interior/js/contact_me.js}"></script>
		<script th:src="@{/deluxe-interior/js/custom.js}"></script>
		<script>
			$(document).ready(function () {
				$(".slider-screen").mouseenter(function (event) {
					$(".slider-content").fadeIn("fast", function (event) {
						$(".slider-content").mouseleave(function (event) {
							$(".slider-content").fadeOut(1000)
							event.stopPropagation()
						})
					})
					event.stopPropagation()
				})
			})
		</script>
	</body>
</html>

</th:block>