<th:block th:include="/_header"></th:block>
	
	<section id="home" class="main-banner">
		
		<div class="slider-new-2 owl-carousel owl-theme">
				
			<div class="item slider-screen">
				<div class="slider-img-full">
					<img th:src="@{/deluxe-interior/uploads/slider-01.jpg}" alt="" />
				</div>
				<div class="container">
					<div class="slider-content text-white" style="display: none;">
						<div class="in-box">
							<h2>DIGI DINOS</h2>
							<p>New products are added everyday login to explore!</p>
							<!-- LOGIN BUTTON -->
							<a class="btn-slider hvr-rectangle-out" th:href="@{/admin/login}" sec:authorize="!isAuthenticated()">Login</a>
							<a class="btn-slider hvr-rectangle-out" th:href="@{/productList}" sec:authorize="isAuthenticated()">Explore</a>
						</div>
					</div>
				</div>
			</div>	
			
			<div class="item slider-screen">
				<div class="slider-img-full">
					<img th:src="@{/deluxe-interior/uploads/slider-02.jpg}" alt="" />
				</div>
				<div class="container">
					<div class="slider-content text-white" style="display: none;">
						<div class="in-box">
							<h2>DIGI DINOS</h2>
							<p>New products are added everyday login to explore!</p>
							<a class="btn-slider hvr-rectangle-out" th:href="@{/admin/login}" sec:authorize="!isAuthenticated()">Login</a>
							<a class="btn-slider hvr-rectangle-out" th:href="@{/productList}" sec:authorize="isAuthenticated()">Explore</a>
						</div>
					</div>
				</div>
			</div>
			
			<div class="item slider-screen">
				<div class="slider-img-full">
					<img th:src="@{/deluxe-interior/uploads/slider-03.jpg}" alt="" />
				</div>
				<div class="container">
					<div class="slider-content text-white" style="display: none;">
						<div class="in-box">
							<h2>DIGI DINOS</h2>
							<p>New products are added everyday login to explore!</p>
							<a class="btn-slider hvr-rectangle-out" th:href="@{/admin/login}" sec:authorize="!isAuthenticated()">Login</a>
							<a class="btn-slider hvr-rectangle-out" th:href="@{/productList}" sec:authorize="isAuthenticated()">Explore</a>
						</div>
					</div>
				</div>
			</div>
			
		</div>
		
	</section>
	
<th:block th:include="/_footer"></th:block>