<th:block th:include="/_header"></th:block>
	    <div style="min-height:100%;background-color:#f2f3f5">
			<div class="container-fluid" style="background-color:#f2f3f5;padding-left:220px">
					<div class="section-title text-center">
						<h3 style="padding-top:10%;color:black;">Order List</h3>
					</div>
					<div class="row" style="min-height:100%;padding-bottom:10%;padding-left:15px">
						<div class="col-12" style="background-color: #f2f3f5;">
							<div class="table-responsive">
								<table class="table table-striped table-dark">
								<thead>
									<tr>
										<th class="text-center" scope="col"># Order</th>
										<th class="text-center" scope="col">Date</th>
										<th class="text-center" scope="col">Customer</th>
										<th class="text-center" scope="col">Address</th>
                              <th class="text-center" scope="col">Email</th>
                              <th class="text-center" scope="col">Phone Number</th>
                              <th class="text-center" scope="col">View</th>
									</tr>
								</thead>
								<tbody>
									<th:block th:each="orderInfo : ${paginationResult.list}">
									<tr>
										<td class="text-center" style="vertical-align: sub;"><span th:utext="${orderInfo.orderNum}"></span></td>
										<td class="text-center" style="vertical-align: sub;"><span th:utext="${#dates.format(orderInfo.orderDate,'dd-MM-yyyy HH:mm')}"></span></td>
										<td class="text-center" style="vertical-align: sub;"><span th:utext="${orderInfo.customerName}"></span></td>
                              <td class="text-center" style="vertical-align: sub;"><span th:utext="${orderInfo.customerAddress}"></span></td>
                              <td class="text-center" style="vertical-align: sub;"><span th:utext="${orderInfo.customerEmail}"></span></td>
                              <td class="text-center" style="vertical-align: sub;"><span th:utext="${#numbers.formatDecimal(orderInfo.amount,3,2,'COMMA')}"></span></td>
                              <td class="text-center" style="vertical-align: sub;"><a style="color:antiquewhite" th:href="@{|/admin/order?orderId=${orderInfo.id}|}">View</a></td>
									</tr>
									</th:block>
								</tbody>
								</table>
							</div>
							<div th:if="${paginationResult.totalPages > 1}" class="contact-form">
								<div class="text-center row justify-content-center">
									<th:block th:if="${T(Integer).parseInt(param.page[0]) != 1}">
										<a th:with="numPage = ${T(Integer).parseInt(param.page[0])}" th:href="@{|/admin/orderList?page=${numPage - 1}|}" class="sim-btn hvr-rectangle-out" style="height:50px;">Previous</a>
									</th:block>
									<th:block th:each="page: ${paginationResult.navigationPages}">
										<a class="sim-btn hvr-rectangle-out" th:href="@{|/admin/orderList?page=${page}|}"  th:utext="${page}" style="width:50px;height:50px;"></a>
									</th:block>
									<th:block th:if="${T(Integer).parseInt(param.page) != paginationResult.totalPages}">
										<a th:with="numPage = ${T(Integer).parseInt(param.page[0])}" th:href="@{|/admin/orderList?page=${numPage + 1}|}" class="sim-btn hvr-rectangle-out" style="height:50px;">Next</a>
									</th:block>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
<th:block th:include="/_footer"></th:block>