<th:block th:include="/_header"></th:block>
<th:block th:if="${cartForm == null || cartForm.cartLines == null || cartForm.cartLines.empty}">
   <div class="container-fluid justify-content-center" style="min-height:85%; background-color:#f2f3f5">
      <h2 style="padding-top:20%">There is no items in Cart</h2>
      <a th:href="@{/productList?page=1}">Product List</a>
   </div>
</th:block>

<th:block th:if="${cartForm != null && cartForm.cartLines != null && !cartForm.cartLines.empty}">
   <div class="section db" style="min-height:85%;background-color:#f2f3f5">
      <div class="container-fluid">
         <div class="section-title text-center">
            <h3 style="padding-top:10%;color:black">My Cart</h3>
         </div>


         <div class="">
            <form method="POST" th:object="${cartForm}" th:action="@{/shoppingCart}" style="width:100%;background-color:white">
               <div class="row">
                  <div class="col-12" style="background-color: #f2f3f5;">
                     <div class="table-responsive">
                        <table class="table table-striped table-dark">
                           <thead>
                              <tr>
                                 <th class="text-center" scope="col">Code</th>
                                 <th class="text-center" scope="col">Name</th>
                                 <th class="text-center" scope="col">Price</th>
                                 <th class="text-center" scope="col">Quantity</th>
                                 <th class="text-center" scope="col">Subtotal</th>
                                 <th class="text-center" scope="col">Image</th>
                                 <th class="text-center" scope="col">Status</th>
                              </tr>
                           </thead>
                           <tbody>
                              <tr th:each="cartLineInfo, varStatus : ${cartForm.cartLines}">
                                 <td class="text-center" style="vertical-align: sub;"><span th:utext="${cartLineInfo.productInfo.code}"></span><input type="hidden" th:name="|cartLines[${varStatus.index}].productInfo.code|" th:value="${cartLineInfo.productInfo.code}"></td>
                                 <td class="text-center" style="vertical-align: sub;"><span th:utext="${cartLineInfo.productInfo.name}"></span></td>
                                 <td class="text-center" style="vertical-align: sub;"><span th:utext="${#numbers.formatDecimal(cartLineInfo.productInfo.price,3,2,'COMMA')}"></span></td>
                                 <td class="text-center p-0" style="vertical-align: sub;"><input class="form-control" th:name="|cartLines[${varStatus.index}].quantity|" th:value="${cartLineInfo.quantity}"></td>
                                 <td class="text-center" style="vertical-align: sub;"><span  th:utext="${#numbers.formatDecimal(cartLineInfo.amount,3,2,'COMMA')}"></span></td>
                                 <td class="text-center p-0" style="vertical-align: sub;"><a th:href="@{|/productImage?code=${cartLineInfo.productInfo.code}|}" data-rel="prettyPhoto[gal]" class="global-radius"><img th:src="@{|/productImage?code=${cartLineInfo.productInfo.code}|}" style="width:40px;height:40px"></a></td>
                                 <td class="text-center" style="vertical-align: sub;"><a style="color:antiquewhite" th:href="@{|/shoppingCartRemoveProduct?code=${cartLineInfo.productInfo.code}|}">Remove</a></td>
                              </tr>
                           </tbody>
                        </table>
                     </div>
                        <div class="row text-center">
                           <div class="col-4">
                              <div id="success"></div>
                              <button class="sim-btn hvr-rectangle-out" type="submit" value="Update Quantity">Update Quantity</button>
                           </div>
                           <div class="col-4">
                              <a class="sim-btn hvr-rectangle-out" th:href="@{/shoppingCartCustomer}">Enter Info</a>
                           </div>
                           <div class="col-4">
                              <a class="sim-btn hvr-rectangle-out" th:href="@{/productList?page=1}">Continue Buy</a>
                           </div>
                        </div>
                  </div>
               </div>
            </form>
         </div>
      </div>
   </div> 
</th:block>
<th:block th:include="/_footer"></th:block> 