<th:block th:include="/_header"></th:block>
<div class="container-fluid" style="background-color:#f2f3f5">
	<div class="row justify-content-center" style="min-height:80%;padding-top:15%;padding-bottom:10%">
		<div class="col-4 pb-5">
			<div class="pricingTable" style="padding-top:10%;height:100%">
				<div class="pricingTable-header p-0 pt-2">
					<h3 class="title">Customer Information</h3>
				</div>
				<ul class="pricing-content">
					<li>Name: <span th:utext="${myCart.customerInfo.name}"></span></li>
               <li>Email: <span th:utext="${myCart.customerInfo.email}"></span></li>
               <li>Phone: <span th:utext="${myCart.customerInfo.phone}"></span></li>
               <li>Address: <span th:utext="${myCart.customerInfo.address}"></span></li>
               <br>
               <li>Quantity: <span th:utext="${myCart.quantityTotal}"></span>$</li>
               <li>Total:
                  <span class="total"
                     th:utext="${#numbers.formatDecimal(myCart.amountTotal,3,2,'COMMA')}">  
                  </span>
               </li>
		      </ul>
		    </div>
      </div>
      <div class="col-12 justify-content-center row">
         <form method="POST" th:action="@{/shoppingCartConfirmation}">
            <a class="sim-btn hvr-rectangle-out" th:href="@{/shoppingCart}">Edit Cart</a>
            <a class="sim-btn hvr-rectangle-out" th:href="@{/shoppingCartCustomer}">Edit Customer Info</a>
            <button type="submit" value="Send" class="sim-btn hvr-rectangle-out">Send</button>
         </form>
      </div>
	</div>
</div>    
<th:block th:include="/_footer"></th:block>
